#drawerH {
    display: none;
}


@media only screen and (max-width: 600px) {
    #navmnu {
        display: none; 
    }
    #drawerH {
        display: flex; 
    }
    #hello {
        display: none;
    }
    #theme-in-dropdown {
        display: block; 
    }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #navmnu {
        display: none;
    }
    body {
        overflow-y: hidden;
    }
    #drawerH {
        display: flex; 
    }
    #hello {
        display: none; 
    }
    #theme-in-dropdown {
        display: block; 
    }
}


@media only screen and (min-width: 1025px) {
    #theme-in-dropdown {
        display: none; 
    }
    #hello {
        display: block; 
    }
}
