

.dash-row {
    transition: all .3s linear; /* Smooth transitions */
    border-start-end-radius: 8px; /* Rounded corners for the row */
}



.dash-row.active {
    background-color: #e5e7eb; /* Slightly darker gray for active state */
    border-left: 10px solid oklch(var(--p)); /* Blue left border for emphasis */
    transform: scale(1); /* Slightly larger for active item */
}

